__pycache__/
*.py[cod]
*$py.class
build/
develop-eggs/
dist/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv
.DS_Store

kicad-build/

# We don't want to lock dependency versions for this library right now
poetry.lock

# These should be generated, not checked in
kipy/enums/_enums.py
kipy/**/*_pb2.py
kipy/**/*_pb2.pyi